@model Tribute_MVC.Models.User
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "DisplayUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var image = Context.Session.GetString("ImageUrl").ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        body {
            color: #6F8BA4;
            margin-top: 20px;
        }

        .section {
            padding: 100px 0;
            position: relative;
        }

        .gray-bg {
            background-color: #f5f5f5;
        }

        img {
            max-width: 100%;
        }

        img {
            vertical-align: middle;
            border-style: none;
        }
        /* About Me
        ---------------------*/
        .about-text h3 {
            font-size: 45px;
            font-weight: 700;
            margin: 0 0 6px;
        }

        .media (max-width: 767px) {
            .about-text h3

        {
            font-size: 35px;
        }

        }

        .about-text h6 {
            font-weight: 600;
            margin-bottom: 15px;
        }

        .media (max-width: 767px) {
            .about-text h6

        {
            font-size: 18px;
        }

        }

        .about-text p {
            font-size: 18px;
            max-width: 450px;
        }

            .about-text p mark {
                font-weight: 600;
                color: #20247b;
            }

        .about-list {
            padding-top: 10px;
        }

            .about-list .media {
                padding: 5px 0;
            }

            .about-list label {
                color: #20247b;
                font-weight: 600;
                width: 88px;
                margin: 0;
                position: relative;
            }

                .about-list label:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 11px;
                    width: 1px;
                    height: 12px;
                    background: #20247b;
                    -moz-transform: rotate(15deg);
                    -o-transform: rotate(15deg);
                    -ms-transform: rotate(15deg);
                    -webkit-transform: rotate(15deg);
                    transform: rotate(15deg);
                    margin: auto;
                    opacity: 0.5;
                }

            .about-list p {
                margin: 0;
                font-size: 15px;
            }

        .media (max-width: 500px) {
            .about-avatar

        {
            margin-top: 30px;
        }

        }

        .about-section .counter {
            padding: 22px 20px;
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
        }

            .about-section .counter .count-data {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .about-section .counter .count {
                font-weight: 700;
                color: #20247b;
                margin: 0 0 5px;
            }

            .about-section .counter p {
                font-weight: 600;
                margin: 0;
            }

        .dark-color {
            color: #20247b;
        }
    </style>

</head>
<body>
    <section class="section about-section gray-bg" id="about">
        <div class="col-lg-9" style="position: relative; width: 100%; padding-right: 15px; padding-left: 15px;">
            <div class="main-content">
                <div class="row align-items-center" style="padding-left:130px;width:1000px!important">
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="~/Layout/Users/@image" alt="Course">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <div class="row about-list">
                                <h2 class="title" style="font-family:Nunito;color: #111111;margin: 0 0 26px;">@Html.DisplayFor(model => model.Role) Profile</h2>
                                <div class="col-md-6">
                                    <div class="media">
                                        <b>Name</b>
                                        <p>@Html.DisplayFor(model => model.UserName)</p>
                                    </div>
                                    <div class="media">
                                        <b>E-mail</b>
                                        <p>@Html.DisplayFor(model => model.Email)</p>
                                    </div>
                                    <div class="media">
                                        <b>Phone</b>
                                        <p>@Html.DisplayFor(model => model.Mobile)</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <div class="row">
                            <div class="col">
                                <div class="count-data text-center">
                                    <h6 class="count h2" data-to="50" data-speed="50">@ViewBag.TributesCount</h6>
                                    <p class="m-0px font-w-600">Tributes Posted</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


